In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
data1 = pd.read_csv('df_final_demo.txt')
data1.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [13]:
data1.isna().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [19]:
data1[data1['clnt_age'].isna()]

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
4164,7402828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8316,355337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677,8412164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9583,4666211,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
13444,2222915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18066,4876926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,5277910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28432,7616759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35323,8191345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43518,1227228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46076,8611797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47189,5144725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49846,1037867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63701,1618749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66219,6021001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data1.shape

(70609, 9)

In [21]:
data1 = data1.dropna()
data1.shape

(70594, 9)

In [22]:
data1.to_csv('df_final_demo.csv')

In [5]:
data2a = pd.read_csv('df_final_web_data_pt_1.txt')
data2b = pd.read_csv('df_final_web_data_pt_2.txt')

In [14]:
data2a.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [15]:
data2b.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [10]:
data2a.to_csv('df_final_web_data_pt_1.csv')
data2b.to_csv('df_final_web_data_pt_2.csv')

In [6]:
data2a.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [7]:
data2b.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [25]:
data2 = pd.concat([data2a, data2b], axis=0)

In [26]:
data2.to_csv('df_final_web_data.csv')

In [28]:
data = data1.merge(data2, left_on='client_id', right_on='client_id')

In [29]:
data = data.merge(data3, left_on='client_id', right_on='client_id')

In [30]:
data3 = pd.read_csv('df_final_experiment_clients.txt')
data3.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [31]:
data3.isna().sum()

client_id        0
Variation    20109
dtype: int64

In [32]:
data3.shape

(70609, 2)

In [33]:
data3.to_csv('df_final_experiment_clients.csv')

In [34]:
data.shape

(449704, 14)

In [35]:
data.to_csv('finalMergedFile.csv')

In [38]:
data.isna().sum()

client_id                0
clnt_tenure_yr           0
clnt_tenure_mnth         0
clnt_age                 0
gendr                    0
num_accts                0
bal                      0
calls_6_mnth             0
logons_6_mnth            0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
Variation           128509
dtype: int64

In [39]:
data = data.dropna()

In [41]:
data.to_csv('finalMergedFile.csv')

In [42]:
data.shape

(321195, 14)

In [43]:
df = data.copy()

In [45]:
df.duplicated().value_counts()

False    317123
True       4072
dtype: int64

In [51]:
df[df.duplicated(keep=False)==True].sort_values(by = 'client_id')

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
41485,6977,4.0,57.0,53.0,U,2.0,26011.36,0.0,3.0,792636892_70609946663,613260866_97547229511_110040,start,2017-05-08 15:44:56,Control
41486,6977,4.0,57.0,53.0,U,2.0,26011.36,0.0,3.0,792636892_70609946663,613260866_97547229511_110040,start,2017-05-08 15:44:56,Control
275427,7567,21.0,252.0,33.0,F,2.0,27165.99,1.0,5.0,163847730_30321246396,479688167_74317487515_880130,start,2017-05-07 14:14:53,Control
275428,7567,21.0,252.0,33.0,F,2.0,27165.99,1.0,5.0,163847730_30321246396,479688167_74317487515_880130,start,2017-05-07 14:14:53,Control
191306,12045,12.0,154.0,37.0,F,2.0,140704.74,2.0,5.0,419605351_64615520304,477989259_22493316291_521653,start,2017-06-19 10:29:01,Control
191305,12045,12.0,154.0,37.0,F,2.0,140704.74,2.0,5.0,419605351_64615520304,477989259_22493316291_521653,start,2017-06-19 10:29:01,Control
201402,13009,10.0,121.0,63.5,U,2.0,71534.88,1.0,4.0,360435735_44466390795,377986493_6391607481_598681,step_3,2017-03-29 12:10:34,Control
201401,13009,10.0,121.0,63.5,U,2.0,71534.88,1.0,4.0,360435735_44466390795,377986493_6391607481_598681,step_3,2017-03-29 12:10:34,Control
197003,16202,7.0,94.0,36.0,U,2.0,32984.48,1.0,4.0,74006986_82466416065,645653515_55313657084_433580,start,2017-05-02 07:20:05,Control
197002,16202,7.0,94.0,36.0,U,2.0,32984.48,1.0,4.0,74006986_82466416065,645653515_55313657084_433580,start,2017-05-02 07:20:05,Control
248062,16549,24.0,294.0,55.5,F,3.0,314799.02,4.0,7.0,536420175_30932891358,753427569_18850244409_814756,start,2017-05-04 13:32:04,Control
248063,16549,24.0,294.0,55.5,F,3.0,314799.02,4.0,7.0,536420175_30932891358,753427569_18850244409_814756,start,2017-05-04 13:32:04,Control
260625,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260624,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260623,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260637,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_1,2017-05-02 10:53:01,Test
260620,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,confirm,2017-05-02 10:55:47,Test
260639,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_1,2017-05-02 10:53:01,Test
260640,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_1,2017-05-02 10:53:01,Test
260619,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,confirm,2017-05-02 10:55:47,Test
260618,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,confirm,2017-05-02 10:55:47,Test
260621,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260622,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260638,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_1,2017-05-02 10:53:01,Test
260641,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_1,2017-05-02 10:53:01,Test
260627,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260628,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_3,2017-05-02 10:53:46,Test
260636,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_2,2017-05-02 10:53:23,Test
260635,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_2,2017-05-02 10:53:23,Test
260634,31597,6.0,80.0,68.0,U,2.0,144290.56,6.0,9.0,810809574_85595370255,600166727_58963640265_39538,step_2,2017-05-02 10:53:23,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187777,9948277,8.0,97.0,30.0,M,2.0,49390.92,6.0,9.0,115751199_71331135475,549935611_32791567559_11942,start,2017-04-28 21:41:40,Control
187778,9948277,8.0,97.0,30.0,M,2.0,49390.92,6.0,9.0,115751199_71331135475,549935611_32791567559_11942,start,2017-04-28 21:41:40,Control
64081,9957316,7.0,93.0,28.0,U,3.0,48104.35,6.0,9.0,177979323_37096333259,767737741_6704095723_152418,start,2017-05-23 20:23:14,Control
64080,9957316,7.0,93.0,28.0,U,3.0,48104.35,6.0,9.0,177979323_37096333259,767737741_6704095723_152418,start,2017-05-23 20:23:14,Control
316118,9962929,15.0,191.0,70.5,M,2.0,23789.61,2.0,5.0,94988935_83849201573,600182621_28747880639_50679,confirm,2017-03-28 14:42:20,Control
316119,9962929,15.0,191.0,70.5,M,2.0,23789.61,2.0,5.0,94988935_83849201573,600182621_28747880639_50679,confirm,2017-03-28 14:42:20,Control
287841,9971315,6.0,82.0,64.0,U,2.0,38555.74,4.0,7.0,220980578_15404335079,21605476_19709922419_106984,step_1,2017-03-31 15:18:24,Control
287842,9971315,6.0,82.0,64.0,U,2.0,38555.74,4.0,7.0,220980578_15404335079,21605476_19709922419_106984,step_1,2017-03-31 15:18:24,Control
101580,9973919,18.0,216.0,52.0,F,2.0,25318.46,6.0,9.0,536879624_6473058963,137298284_90535597079_932236,start,2017-04-28 03:22:26,Test
101579,9973919,18.0,216.0,52.0,F,2.0,25318.46,6.0,9.0,536879624_6473058963,137298284_90535597079_932236,start,2017-04-28 03:22:26,Test
285784,9977651,16.0,196.0,51.0,M,4.0,105844.61,6.0,9.0,283065812_24207401726,646279720_24297466426_220393,start,2017-05-25 11:43:33,Test
285783,9977651,16.0,196.0,51.0,M,4.0,105844.61,6.0,9.0,283065812_24207401726,646279720_24297466426_220393,start,2017-05-25 11:43:33,Test
137180,9978038,12.0,154.0,45.5,F,4.0,95290.43,0.0,3.0,997888946_71042949731,987964590_84103980902_331052,start,2017-04-30 13:47:32,Control
137181,9978038,12.0,154.0,45.5,F,4.0,95290.43,0.0,3.0,997888946_71042949731,987964590_84103980902_331052,start,2017-04-30 13:47:32,Control
267775,9985926,6.0,72.0,59.0,U,2.0,37967.09,3.0,6.0,506771277_64433839646,182712524_34689432454_484685,start,2017-05-02 07:26:27,Control
267774,9985926,6.0,72.0,59.0,U,2.0,37967.09,3.0,6.0,506771277_64433839646,182712524_34689432454_484685,start,2017-05-02 07:28:08,Control
267773,9985926,6.0,72.0,59.0,U,2.0,37967.09,3.0,6.0,506771277_64433839646,182712524_34689432454_484685,start,2017-05-02 07:28:08,Control
267776,9985926,6.0,72.0,59.0,U,2.0,37967.09,3.0,6.0,506771277_64433839646,182712524_34689432454_484685,start,2017-05-02 07:26:27,Control
58510,9986106,13.0,162.0,35.0,F,2.0,44905.40,1.0,4.0,443516496_40144610977,948306186_11852304357_420472,start,2017-05-07 19:28:27,Test
58511,9986106,13.0,162.0,35.0,F,2.0,44905.40,1.0,4.0,443516496_40144610977,948306186_11852304357_420472,start,2017-05-07 19:28:27,Test
312089,9991998,16.0,198.0,63.0,M,2.0,40797.25,0.0,3.0,90300211_60005086563,487507553_66397294005_781022,start,2017-04-26 22:01:20,Control
312092,9991998,16.0,198.0,63.0,M,2.0,40797.25,0.0,3.0,90300211_60005086563,487507553_66397294005_781022,start,2017-04-26 21:59:58,Control
312091,9991998,16.0,198.0,63.0,M,2.0,40797.25,0.0,3.0,90300211_60005086563,487507553_66397294005_781022,start,2017-04-26 21:59:58,Control
312090,9991998,16.0,198.0,63.0,M,2.0,40797.25,0.0,3.0,90300211_60005086563,487507553_66397294005_781022,start,2017-04-26 22:01:20,Control
264800,9994115,20.0,250.0,53.5,F,3.0,134233.63,4.0,7.0,434880129_22821511966,950367341_92559977720_135437,start,2017-05-08 10:33:25,Test
264799,9994115,20.0,250.0,53.5,F,3.0,134233.63,4.0,7.0,434880129_22821511966,950367341_92559977720_135437,start,2017-05-08 10:33:25,Test
307603,9996877,17.0,205.0,68.0,M,2.0,70997.65,3.0,6.0,83108209_22162646095,713500557_31297619237_860300,start,2017-05-03 18:08:32,Control
307604,9996877,17.0,205.0,68.0,M,2.0,70997.65,3.0,6.0,83108209_22162646095,713500557_31297619237_860300,start,2017-05-03 18:08:32,Control
142956,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,Control
142958,9998346,50.0,602.0,61.5,F,2.0,149881.38,6.0,9.0,292425655_16607136645,189177304_69869411700_783154,step_3,2017-03-29 15:37:28,Control

In [53]:
df = df[df.duplicated(keep='first')==False]
df.shape

(317123, 14)